header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button_style{
    padding: 0.3%;
    margin: 0.3%;
    background-color:rgb(236, 236, 236);
    border-radius: 5px;
}
.button_style:hover {
    background-color:rgb(255, 255, 255);
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text{
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registration_blok{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    margin: 0.3%;
}

.list_company{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button{
    background-color:rgb(236, 236, 236);
    border-radius: 5px;
    border:0ch;
}
.button:hover{
    background-color:rgb(255, 255, 255);
}

.center_flex{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.text_decorator{
    text-decoration: none;
    color:black;
}

.center_text{
    text-align: center;
}
.list_component{
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}