<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Добавление бухгалтерских документов</title>
</head>
<body>

    <header>
        <input type="button" class="button_style" onclick="history.back();" value="Назад"/>
		<div class = "button_style"><a href="/companyList.html" class="text_decorator">Компании</a></div>
		<div class = "button_style"><a href="/tenderList.html" class="text_decorator">Тендеры</a></div>
		<div class = "button_style"><a href="/user.html" class="text_decorator">Личные данные</a></div>
	</header>

    <h1 class="title">Новый бухгалтерский период</h1>

        <form class="registration_blok" id="add_buh_doc" onsubmit>
            <input class="input" type="text" placeholder="Год бухгалтерских данных." name="" id="buhdoc_date">
            <input class="input" type="number" placeholder="Обороты за год" name="" id="buhdoc_oboroti">
            <input class="input" type="text" placeholder="Количество сотрудников" name="" id="buhdoc_countEmpl">

            <br>
            <span id="error_add_buh_odc" style="color:red">test</span>
            <input class="button" type="submit" value="Добавить">
        </form>
<script src="/js/addBuhdocument.js"></script>
</body>
</html>