<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="javascript" href="/js/javascript.js">
    <title>Добавление документа</title>
</head>
<body>

    <header>
		<div class = "button_style"><a href="/companyList.html" class="text_decorator">Компании</a></div>
		<div class = "button_style"><a href="/tenderList.html" class="text_decorator">Тендеры</a></div>
		<div class = "button_style"><a href="/user.html" class="text_decorator">Личные данные</a></div>
	</header>

    <h1 class="title">Добавить файл</h1>

    <input type="file" id="file">
    <button>Чтение файла</button>
    

    
<script src="/js/addDocument.js"></script>   
</body>
</html>