<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Добавление лицензии</title>
</head>
<body>
    <header>
        <input type="button" class="button_style" onclick="history.back();" value="Назад"/>
		<div class = "button_style"><a href="/companyList.html" class="text_decorator">Компании</a></div>
		<div class = "button_style"><a href="/tenderList.html" class="text_decorator">Тендеры</a></div>
		<div class = "button_style"><a href="/user.html" class="text_decorator">Личные данные</a></div>
	</header>
    <h1 class="title">Новая лицензия</h1>
        <form class="registration_blok" id="add_license" onsubmit>
            <input class="input" type="text" placeholder="Название" name="" id="name">
            <input class="input" type="text" placeholder="Номер" name="" id="number">
            <input class="input" type="text" placeholder="Дата регистрации" name="" id="date">
            <input class="input" type="text" placeholder="Дата окончания действия" name="" id="endDate">
            <input class="input" type="text" placeholder="Название выдавшей лицензию" name="" id="nameGovCom">
            <br>
            <span id="error_add_license" style="color:red">test</span>
            <input class="button" type="submit" value="Добавить">
        </form>
<script src="/js/addlicense.js"></script>
</body>
</html>