<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Добавление оборудования</title>
</head>
<body>

    <header>
        <input type="button" class="button_style" onclick="history.back();" value="Назад"/>
		<div class = "button_style"><a href="/companyList.html" class="text_decorator">Компании</a></div>
		<div class = "button_style"><a href="/tenderList.html" class="text_decorator">Тендеры</a></div>
		<div class = "button_style"><a href="/user.html" class="text_decorator">Личные данные</a></div>
	</header>

    <h1 class="title">Новое оборудование</h1>

        <form class="registration_blok" id="add_oborudovanie" onsubmit>
            <input class="input" type="text" placeholder="Название оборудования" name="" id="name">
            <input class="input" type="text" placeholder="Название модели" name="" id="model">
            <input class="input" type="text" placeholder="Дата регистрации" name="" id="date">
            <input class="input" type="text" placeholder="Стутс собственности" name="" id="status">
            <input class="input" type="text" placeholder="Прочая информация" name="" id="ps">
            <br>
            <span id="error_add_oborudovanie" style="color:red">test</span>
            <input class="button" type="submit" value="Добавить">
        </form>
<script src="/js/addoborudovanie.js"></script>
</body>
</html>