<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Список бухгалтерских документов</title>
</head>
    <body>
        <header>
          <div class = "button_style"><a href="/companyList.html" class="text_decorator">Компании</a></div>
          <div class = "button_style"><a href="/tenderList.html" class="text_decorator">Тендеры</a></div>
          <div class = "button_style"><a href="/user.html" class="text_decorator">Личные данные</a></div>
        </header>
        <h1 class="title">Список бухгалтерских документов</h1>
        <!-- <div class="center_flex">
            <button type="button" class="button" id="addBuhdocument" click><a href="/addBuhdocument.html" class="text_decorator">Добавить бухгалтерские документы</a></button>
            </div> -->
        <br>
        <div class="list_component">
        <div><button id="currentYear" class="button_info" name="0"></button></div>
        <br>
        <div><button id="firstYear" class="button_info" name="1"></button></div>
        <br>
        <div><button id="secondYear" class="button_info" name="2"></button></div>
        <br>
        <div><button id="thirdYear" class="button_info" name="3"></button></div>
        <br>
        </div>
        
        <script src="/js/buh_list.js"></script>
    </body>
</html>