<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Информация о бухгалтерских документах</title>
</head>
<body>

    <header>
		<div class = "button_style"><a href="/companyList.html" class="text_decorator">Компании</a></div>
		<div class = "button_style"><a href="/tenderList.html" class="text_decorator">Тендеры</a></div>
		<div class = "button_style"><a href="/user.html" class="text_decorator">Личные данные</a></div>
	</header>

    <h1 class="title">Информация о бухгалтерских документах</h1>

<div class="center_flex" id="my_company_info">
    <div id="company_info">
        <div>Год бухгалтерских данных : <span id="buh_data" ></span><button>изменить</button></div>
        <div>Обороты за год : <span id="oboroti_data" ></span><button>изменить</button></div>
        <div>Количество сотрудников : <span id="buh_data_count_empl" name=""></span><button>изменить</button></div>
    </div>

    <div>
        Список учредительных документов
        <form action="" id="add_doc">
            <input type="text" id="text_inpyt" placeholder="Имя файла">
            <input type="file" id="file">
            <button>Добавить файл</button>
        </form>
        <br>
        <div id="list_docs" class="docs_list">
        </div>
    </div>

</div>
    

<script src="/js/buhdoc_info.js"></script>
</body>
</html>