<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Информация о компании</title>
</head>
<body>

    <header>
		<div class = "button_style"><a href="/companyList.html" class="text_decorator">Компании</a></div>
		<div class = "button_style"><a href="/tenderList.html" class="text_decorator">Тендеры</a></div>
		<div class = "button_style"><a href="/user.html" class="text_decorator">Личные данные</a></div>
	</header>

    <h1 class="title">Информация о компании</h1>

    <div class="text">
        <button id="tender_list" class="button"><a href="/tenderList.html" class="text_decorator">Список тендеров</a></button>
        <br>
        <button id="all_doc" class="button"> <a href="/all_docList.html" class="text_decorator">Список учредительных документов</a> </button>    
        <br>
        <button id="buh_doc" class="button"><a href="/buhDocList.html" class="text_decorator">Бухгалтерские документы</a></button>
        <br>
        <button id="employee_list" class="button"><a href="/employeeList.html" class="text_decorator">Список сотрудников</a></button>
        <br>
        <button id="oborudovanie_list" class="button"><a href="/oborudovanieList.html" class="text_decorator">Список оборудования</a></button>
        <br>
        <button id="cars_list" class="button"><a href="/carsList.html" class="text_decorator">Список техники</a></button>
        <br>
        <button id="contract_list" class="button"><a href="/contractList.html" class="text_decorator">Список договоров</a></button>
        <br>
        <button id="licenzii_list" class="button"><a href="/licenziiList.html" class="text_decorator">Список лицензий, допусков</a></button>
    </div>
    <br>

<div class="center_flex" id="my_company_info">
    <div id="company_info">
        <div>Полное название организации : <span id="full_name" ></span><button>изменить</button></div>
        <div>Сокращённое название организации : <span id="smail_name" ></span><button>изменить</button></div>
        <div>Полное название формы организации : <span id="full_form_name" name=""></span><button>изменить</button></div>
        <div>Юридический адрес : <span id="address_company" name=""></span><button>изменить</button></div>
        <div>Почтовый адрес : <span id="post_address" name=""></span><button>изменить</button></div>
        <div>ИНН : <span id="inn" name=""></span><button>изменить</button></div>
        <div>Дата регистрации : <span id="date_reg_company" name=""></span><button>изменить</button></div>
        <div>Номер налоговой : <span id="number_gov_nalog" name=""></span><button>изменить</button></div>
        <div>ОГРН : <span id="ogrn" name=""></span><button>изменить</button></div>
        <div>ОКПО : <span id="okpo" name=""></span><button>изменить</button></div>
        <div>ОКАТО : <span id="okato" name=""></span><button>изменить</button></div>
        <div>Основной ОКВЭД : <span id="osnovnoi_okved" name=""></span><button>изменить</button></div>
        <div>Электронная почта : <span id="email" name=""></span><button>изменить</button></div>
        <div>Телефон : <span id="phone" name=""></span><button>изменить</button></div>
        <div>Сайт : <span id="webSite" name=""></span><button>изменить</button></div>
        <div>БИК банка : <span id="bik" name=""></span><button>изменить</button></div>
        <div>Название банка : <span id="bank_name" name=""></span><button>изменить</button></div>
        <div>Р/с : <span id="rSchet" name=""></span><button>изменить</button></div>
        <div>К/с : <span id="kSchet" name=""></span><button>изменить</button></div>
        <div>Адрес банка : <span id="bank_address" name=""></span><button>изменить</button></div>
    </div>

</div>
    

<script src="/js/company_info.js"></script>
</body>
</html>