<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Информация о компании</title>
</head>
<body>

    <header>
		<div class = "button_style"><a href="/companyList.html" class="text_decorator">Компании</a></div>
		<div class = "button_style"><a href="/tenderList.html" class="text_decorator">Тендеры</a></div>
		<div class = "button_style"><a href="/user.html" class="text_decorator">Личные данные</a></div>
	</header>

    <h1 class="title">Информация о компании</h1>
<div class="center_flex">
    <div class="company_info">
        <div>Полное название организации : <span id="" name=""></span><button>изменить</button></div>
        <div>Сокращённое название организации : <span id="" name=""></span><button>изменить</button></div>
        <div>Полное название формы организации : <span id="" name=""></span><button>изменить</button></div>
        <div>Юридический адрес : <span id="" name=""></span><button>изменить</button></div>
        <div>Почтовый адрес : <span id="" name=""></span><button>изменить</button></div>
        <div>ИНН : <span id="" name=""></span><button>изменить</button></div>
        <div>Дата регистрации : <span id="" name=""></span><button>изменить</button></div>
        <div>Номер налоговой : <span id="" name=""></span><button>изменить</button></div>
        <div>ОГРН : <span id="" name=""></span><button>изменить</button></div>
        <div>ОКПО : <span id="" name=""></span><button>изменить</button></div>
        <div>ОКАТО : <span id="" name=""></span><button>изменить</button></div>
        <div>Основной ОКВЭД : <span id="" name=""></span><button>изменить</button></div>
        <div>Электронная почта : <span id="" name=""></span><button>изменить</button></div>
        <div>Телефон : <span id="" name=""></span><button>изменить</button></div>
        <div>Сайт : <span id="" name=""></span><button>изменить</button></div>
        <div>БИК банка : <span id="" name=""></span><button>изменить</button></div>
        <div>Название банка : <span id="" name=""></span><button>изменить</button></div>
        <div>Р/с : <span id="" name=""></span><button>изменить</button></div>
        <div>К/с : <span id="" name=""></span><button>изменить</button></div>
        <div>Адрес банка : <span id="" name=""></span><button>изменить</button></div>
    </div>

    <div>
        <div>Список сотрудников</div>
    </div>

</div>
    

<script src="/js/company.js"></script>
</body>
</html>