<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/style.css">
	
	<title>Tender Assist</title>
</head>
<body>
	<header>
		<div class = "button_style"><a href="/info.html" class="text_decorator">О компании</a></div>
		<div class = "button_style"><a href="/tarif.html" class="text_decorator">Тарифы</a></div>
		<div class = "button_style"><a href="/registration.html" class="text_decorator">Регистрация</a></div>
		<div class = "button_style"><a href="/login.html" class="text_decorator">Вход</a></div>
	</header>
	<div class="title">
		<h1 id="test">Tender Assist</h1>
	</div>
	<div class = "text">
		<p>Наш сайт предлагает услуги подготовки документов для подачи заявок на тендеры</p>
</div>
<script src="/js/javascript.js"></script>
</body>
</html>