<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Info</title>
</head>
<body>
    <header>
		<div class = "button_style"><a href="/info.html" class="text_decorator">О компании</a></div>
		<div class = "button_style"><a href="/tarif.html" class="text_decorator">Тарифы</a></div>
		<div class = "button_style"><a href="/registration.html" class="text_decorator">Регистрация</a></div>
		<div class = "button_style"><a href="/login.html" class="text_decorator">Вход</a></div>
	</header>
	<div class="title">
		<h1>Информация о компании</h1>
	</div>
	<div class = "text">
		<p>Наша команда основана в 2022 году. И занимается разработкой программного обеспеченяи для работы с тендерными закупками со стороны исполнителя.
            Наша цель облегчить работу тендерных специалистов и руководителей.
        </p>
</div>
</body>
</html>