<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="referrer" content="no-referrer" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="/css/style.css">
    <title>Ссылка на скачивание</title>
</head>
<body>

    <header>
		<div class = "button_style"><a href="/companyList.html" class="text_decorator">Компании</a></div>
		<div class = "button_style"><a href="/tenderList.html" class="text_decorator">Тендеры</a></div>
		<div class = "button_style"><a href="/user.html" class="text_decorator">Личные данные</a></div>
	</header>

    <h1 class="title">Ссылка на скачивание файла</h1>
    
    <!-- <button>Сформировать пакет документов</button> -->

    <div id="link">
        <a download="" id="a" href="" >Скачать</a>
    </div>
    

<script src="/js/link.js"></script>
</body>
</html>