<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Информация о оборудовании</title>
</head>
<body>
    <header>
		<div class = "button_style"><a href="/companyList.html" class="text_decorator">Компании</a></div>
		<div class = "button_style"><a href="/tenderList.html" class="text_decorator">Тендеры</a></div>
		<div class = "button_style"><a href="/user.html" class="text_decorator">Личные данные</a></div>
	</header>
    <h1 class="title">Информация о оборудовании</h1>
<div class="center_flex">
    <div id="oborudovanie_info">
        <div>Название оборудования : <span id="name" ></span></div>
        <div>Название модели : <span id="model" ></span></div>
        <div>Дата регистрации : <span id="date" ></span></div>
        <div>Статус собственности : <span id="status" ></span></div>
        <div>Прочая информация : <span id="ps" ></span></div>
    </div>
    <div>
        <input type="text" id="file_name" placeholder="Имя файла">
        <input type="file" id="file">
        <button>Добавить файл</button>
        <br>
        <span>Список документов</span>   
             <div class="doc_list" id="doc_list">
             </div>
     </div>
</div>
<script src="/js/oborudovanieinfo.js"></script>
</body>
</html>