<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Список оборудования</title>
</head>
<body>

    <header>
        <input type="button" class="button_style" onclick="history.back();" value="Назад"/>
		<div class = "button_style"><a href="/companyList.html" class="text_decorator">Компании</a></div>
		<div class = "button_style"><a href="/tenderList.html" class="text_decorator">Тендеры</a></div>
		<div class = "button_style"><a href="/user.html" class="text_decorator">Личные данные</a></div>
	</header>

    <h1 class="title">Список оборудования</h1>

    <div class="center_flex">
        <button class="button"><a href="/addOborudovanie.html" class="text_decorator">Добавить оборудование</a></button>
        <button class="button">Удалить оборудование</button></div>
    <br>

<div class="list_component" id="component_list">
</div>
<script src="/js/oborudovanie_list.js"></script>
</body>
</html>