<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Информация о учредителе</title>
</head>
<body>
    <header>
        <input type="button" class="button_style" onclick="history.back();" value="Назад"/>
		<div class = "button_style"><a href="/companyList.html" class="text_decorator">Компании</a></div>
		<div class = "button_style"><a href="/tenderList.html" class="text_decorator">Тендеры</a></div>
		<div class = "button_style"><a href="/user.html" class="text_decorator">Личные данные</a></div>
	</header>
    <h1 class="title">Информация о учредителе</h1>
    <div class="text">
        <button id="owner_list" class="button"><a href="/ownerList.html" class="text_decorator">Список учредителей</a></button>
         <br>
    </div>
    <br>
<div class="center_flex" id="owner_info">
    <div id="owner_info">
        <div>Название учредителя: <span id="name" ></span></div>
        <br>
        <div>Адрес учредителя: <span id="address" ></span></div>
        <br>
        <div>Реквизиты учредителя: <span id="recvisites" ></span></div>
        <br>
        <div>Доля учредителя (%): <span id="share" ></span></div>
        <br>
    </div>
</div>
<script src="/js/owner_info.js"></script>
</body>
</html>