<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Тарифы</title>
</head>
<body>
    <header>
		<div class = "button_style"><a href="/info.html" class="text_decorator">О компании</a></div>
		<div class = "button_style"><a href="/tarif.html" class="text_decorator">Тарифы</a></div>
		<div class = "button_style"><a href="/registration.html" class="text_decorator">Регистрация</a></div>
		<div class = "button_style"><a href="/login.html" class="text_decorator">Вход</a></div>
	</header>
	<div class="title">
		<h1>Тарифы</h1>
	</div>
	<div class = "text">
		<p>Основной тарифный план 1000 рублей в месяц.</p>
</div>
</body>
</html>