<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="referrer" content="no-referrer" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Список тендеров</title>
</head>
<body>

    <header>
		<div class = "button_style"><a href="/companyList.html" class="text_decorator">Компании</a></div>
		<div class = "button_style"><a href="/tenderList.html" class="text_decorator">Тендеры</a></div>
		<div class = "button_style"><a href="/user.html" class="text_decorator">Личные данные</a></div>
	</header>

    <h1 class="title">Список тендеров</h1>

    <div class="center_flex">
        <button class="button"><a href="/addTender.html" class="text_decorator">Добавить Тендер</a></button>
        <button class="button">Удалить тендер</button></div>
    <br>

<div class="list_tender center_flex" id="tender_list">
</div>
<script src="/js/tender.js"></script>
</body>
</html>