<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Учредительные документы</title>
</head>
<body>

    <header>
		<div class = "button_style"><a href="/companyList.html" class="text_decorator">Компании</a></div>
		<div class = "button_style"><a href="/tenderList.html" class="text_decorator">Тендеры</a></div>
		<div class = "button_style"><a href="/user.html" class="text_decorator">Личные данные</a></div>
	</header>

    <h1 class="title">Учредительные документы</h1>
    
    <button>Сформировать пакет документов</button>

    <div id="link">
        <a href="#" src="https://downloader.disk.yandex.ru/disk/38fcf5512393e97e3d2cfa50f673332e0ace85c394a2bfd5468c064c9b57a04d/632de8b5/buFVWohw7MJZs_1r4jQ1MB0r3-rF9ZkSkFf8T2HhDbcmSZJj7olRXcueg_p505dfiPBmOklW0YOsXc-If7xcXw%3D%3D?uid=253249685&filename=1234.zip&disposition=attachment&hash=&limit=0&content_type=application%2Fzip&owner_uid=253249685&fsize=655&hid=7cb50082d58e85437c96e24d56733678&media_type=compressed&tknv=v2&etag=13dfbaa723b76f89c235a3664fa6ab5b">Скачать</a>
    </div>
    

<script src="/js/uppDocPack.js"></script>
</body>
</html>